{{ 'section-image-with-text.css' | asset_url | stylesheet_tag }}

<div class="{{ section.settings.image_position }}">

{% if section.settings.image != blank %}
  <img
    alt="{{ section.settings.image.alt | escape }}"
    height="{{ section.settings.image.height }}"
    loading="lazy"
    src="{{ section.settings.image | image_url: width: 1200 }}"
    width="{{ section.settings.image.width }}"
  />
{% else %}
  {{ 'image' | placeholder_svg_tag }}
{% endif %}

<div>
  {% if section.settings.heading != blank %}
    <h2>{{ section.settings.heading | escape }}</h2>
  {% endif %}

  <div>{{ section.settings.text }}</div>

  {% if section.settings.link_text != blank and section.settings.link_url != blank %}
    <p class="signpost">
      <a href="{{ section.settings.link_url }}">
        <span>{{ section.settings.link_text | escape }}</span>
        <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 7.229V8.77h20.155l-5.908 6.137L15.297 16 23 8l-7.703-8-1.05 1.091 5.908 6.138H0Z" fill="currentColor"></path>
        </svg>
      </a>
    </p>
  {% endif %}
</div>

</div>


{% schema %}
{
  "name": "Image with text",
  "tag": "section",
  "class": "image-with-text",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Add a heading",
      "info": "Optional"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "900 x 600 dimensions"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Add text.</p>"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text",
      "info": "Optional"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL",
      "info": "Optional"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "default": "image-left",
      "options": [
        {
          "value": "image-left",
          "label": "Left"
        },
        {
          "value": "image-right",
          "label": "Right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text"
    }
  ]
}
{% endschema %}
