{{ 'section-reviews.css' | asset_url | stylesheet_tag }}

{% if section.settings.heading != blank %}
  <h2 id="{{ section.settings.heading | handleize }}">{{ section.settings.heading | escape }}</h2>
{% endif %}
<div>
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      {% assign star_rating = block.settings.rating %}
      <blockquote>
        <span class="rating-stars {{ star_rating }}" aria-label="Rated {{ star_rating }} out of 5."></span>
        <p>{{ block.settings.review }}</p>
        <cite>—&nbsp;
          {{ block.settings.name | escape }}
        </cite>
      </blockquote>
    {% endfor %}
  {% else %}
    <p>No blocks</p>
  {% endif %}
</div>

{% schema %}
{
  "name": "Reviews",
  "tag": "section",
  "class": "reviews",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Add a heading",
      "info": "Optional"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "select",
          "id": "rating",
          "label": "Rating stars",
          "default": "five",
          "options": [
            {
              "value": "one",
              "label": "1"
            },
            {
              "value": "two",
              "label": "2"
            },
            {
              "value": "three",
              "label": "3"
            },
            {
              "value": "four",
              "label": "4"
            },
            {
              "value": "five",
              "label": "5"
            }
          ]
        },
        {
          "type": "textarea",
          "id": "review",
          "label": "Review",
          "default": "Add a review"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "Add a name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews",
      "blocks": [
        {
          "type": "review"
        }
      ]
    }
  ]
}
{% endschema %}
