{{ 'section-video.css' | asset_url | stylesheet_tag }}

<figure>
  <deferred-media>
    {%- if section.settings.cover_image != blank -%}
      <img
        src="{{ section.settings.cover_image | image_url: width: 1600 }}"
        alt=""
        loading="lazy"
        width="{{ section.settings.cover_image.width }}"
        height="{{ section.settings.cover_image.height }}"
      >
    {%- endif -%}
    <button id="deferred-media-{{ section.settings.video_url.id }}">
      <svg
        width="34"
        height="41"
        viewBox="0 0 34 41"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        title="Play"
      >
        <path
          d="M32.6533 19.6534c.6237.3921.6237 1.3011 0 1.6932L1.7823 40.7544c-.666.4186-1.5323-.06-1.5323-.8466V1.0922c0-.7866.8663-1.2652 1.5322-.8466l30.8711 19.4078Z"
          fill="currentColor"
        />
      </svg>
    </button>
    <template>
      {%- if section.settings.video_url.type == 'youtube' -%}
        <iframe width="1600" height="900" frameborder="0" src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1&autoplay=1" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      {%- else -%}
        <iframe width="1600" height="900" frameborder="0" src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=1" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      {%- endif -%}
    </template>
  </deferred-media>
  {%- if section.settings.description != blank -%}
    <figcaption>
      {{ section.settings.description | escape }}
    </figcaption>
  {%- endif -%}
</figure>

{% schema %}
{
  "name": "Video",
  "tag": "section",
  "class": "video centered",
  "settings": [
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "Cover image",
      "info": "1600 x 900 dimensions"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "vimeo",
        "youtube"
      ],
      "label": "Video URL"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "info": "Optional"
    }
  ],
  "presets": [
    {
      "name": "Video"
    }
  ]
}
{% endschema %}
